<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium officia modi similique labore dolorum corrupti? Error, cumque fugit veritatis impedit, necessitatibus, porro vero quisquam nesciunt esse perspiciatis recusandae deserunt quam?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://as01.epimg.net/meristation/imagenes/2022/04/26/mexico/1650937584_681667_1650937697_noticia_normal.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, quis ratione odit mollitia dolorum modi officiis sit officia enim explicabo, perspiciatis similique nobis aut harum eum facere totam accusantium debitis?
    </ion-card-content>
  </ion-card>


</ion-content>
